# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [6]:
first_num = 27
second_num = 27

print("first_num (%d) == second_num (%d): %s" % (first_num, second_num, first_num == second_num))
print("first_num (id: %d) == second_num (id: %d): %s" % (id(first_num), id(second_num), id(first_num) == id(second_num)))

first_num (27) == second_num (27): True
first_num (id: 137417491858480) == second_num (id: 137417491858480): True

у проміжку від -5 до 256 числа у Python створюються перед початком виконання, тому будь-яка нова змінна у цьому діапазоні посилатиметься вже на існуючий об'єкт.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [9]:
bool_var = True

print(isinstance(bool_var, bool))
print(isinstance(bool_var, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [19]:
int_num = 3
float_num = 0.2

print("%d + %d = %d" % (int_num, int_num, int_num + int_num))
print("%d - %d = %d" % (int_num, int_num, int_num - int_num))
print("%d * %d = %d" % (int_num, int_num, int_num * int_num))
print("%d / %d = %f" % (int_num, 2, int_num / 2))
print("%d // %d = %d" % (int_num, 2, int_num // 2))
print("%d %% %d = %d" % (int_num, 2, int_num % 2))
print("%d ** %d = %d" % (int_num, 2, int_num ** 2))
print()
print("%f + %f = %f" % (float_num, int_num, float_num + int_num))
print("%f - %f = %f" % (float_num, int_num, float_num - int_num))
print("%f * %f = %f" % (float_num, int_num, float_num * int_num))
print("%f / %f = %f" % (float_num, 2, float_num / 2))
print("%f // %f = %f" % (float_num, 2, float_num // 2))
print("%f %% %f = %f" % (float_num, 2, float_num % 2))
print("%f ** %f = %f" % (float_num, 2, float_num ** 2))

3 + 3 = 6
3 - 3 = 0
3 * 3 = 9
3 / 2 = 1.500000
3 // 2 = 1
3 % 2 = 1
3 ** 2 = 9

0.200000 + 3.000000 = 3.200000
0.200000 - 3.000000 = -2.800000
0.200000 * 3.000000 = 0.600000
0.200000 / 2.000000 = 0.100000
0.200000 // 2.000000 = 0.000000
0.200000 % 2.000000 = 0.200000
0.200000 ** 2.000000 = 0.040000

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [20]:
print("float (%f) as int -> %d" % (float_num, int(float_num)))
print("bool (%s) as int -> %d" % (True, int(True)))

float (0.200000) as int -> 0
bool (True) as int -> 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [21]:
s1 = ''
s2 = str()

print(s1)
print(s2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [23]:
s = 'об`єкт'
sr = r'об`єкт'

print(s)
print(sr)

об`єкт
об`єкт

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [32]:
my_name = 'Smetaniuk'
format_s = f"My surname is {my_name}"

print(format_s)

My surname is Smetaniuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [26]:
s = "My dog is crazy."
s = s.lower()
s = s.removesuffix('.')
arr = s.split(' ')

print(arr)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [27]:
lst1 = [1, 2, 3]
lst2 = list((1, 2, 3))

print(len(arr2))

0

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [30]:
lst1 = [1, 2, 3]
lst2 = [1, 2, 3]
lst2.append(lst1)

print(lst2)

[1, 2, 3, [1, 2, 3]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [33]:
lst1 = [[1, 2, 3], ['1', '2', '3'], [True, False, True], [0.1, 0.2, 0.3]]

print(lst1[-1][0])

0.1

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [40]:
lst2 = [False, '1', 2, [3], (2, 3), 5.0, True, '7', 8, [9]]
new_lst2 = lst2[2:]

print(lst2)
print(new_lst2)

[False, '1', 2, [3], (2, 3), 5.0, True, '7', 8, [9]]
[2, [3], (2, 3), 5.0, True, '7', 8, [9]]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [41]:
my_tuple = (1,)

print(my_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схоже:
- можуть містити різні типи даних
- впорядковані
- можна ітеруватись -> можна використовувати в циклах
- можна взяти слайс

Відмінне
- typle - immutable, list - mutable
- кортеж може бути ключем в словнику, список - ні
- кортеж займатиме менше пам'яті з однаковим вмістом, ніж список

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [8]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)

tuple2 = tuple1[-1::-2]

print(tuple2)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [10]:
my_set = set()
my_set.add(1)
my_set.add(1.0)
my_set.add("1")
my_set.add((1, 1.0, "1"))

print(my_set)

{'1', 1, (1, 1.0, '1')}

змінювати елементи множини не можна, але можна видаляти існуючі і додавати нові елементи.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [11]:
my_set = set([1, 1, 2, 67, 67, 8, 9])

print(my_set)

{1, 2, 67, 8, 9}

повторювані елементи не допустимі у множині.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 5, 6, 7}

print("set1: %s, set2: %s" % (set1, set2))
print("union: %s" % (set1.union(set2)))
print("diff: %s" % (set1.difference(set2)))
print("inersection: %s" % (set1.intersection(set2)))
print("sym_diff: %s" % (set1.symmetric_difference(set2)))

set1: {1, 2, 3, 4, 5}, set2: {3, 5, 6, 7}
union: {1, 2, 3, 4, 5, 6, 7}
diff: {1, 2, 4}
inersection: {3, 5}
sym_diff: {1, 2, 4, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [13]:
my_dict = {}
my_dict[0] = 0
my_dict["1"] = "1"
my_dict[0.3] = 0.3
my_dict[(1, 2, 3)] = (1, 2, 3)

print(my_dict)

{0: 0, '1': '1', 0.3: 0.3, (1, 2, 3): (1, 2, 3)}

список змінюваний, тому не буде бути ключем словника.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [15]:
new_dict = {1: 1, "inner dict": {"A": "LOL", 5: (1, 2, 3), "inner dict": {(1, 2): (2, 1), 100: [1, 2, 3]}}, 2: 2.0}

print(new_dict)
print(new_dict["inner dict"]["inner dict"].values())

{1: 1, 'inner dict': {'A': 'LOL', 5: (1, 2, 3), 'inner dict': {(1, 2): (2, 1), 100: [1, 2, 3]}}, 2: 2.0}
dict_values([(2, 1), [1, 2, 3]])

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.